@model OutputMusic

<div class="card h-100 text-black">
    <iframe class="card-video" src="@Model.YoutubeLink" allowfullscreen></iframe>
    <div class="card-header">
        <h6 class="card-title">@Model.Artist!.Name - @Model.Name</h6>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a class="btn btn-warning" asp-action="Update" asp-controller="Music" asp-route-id="@Model.Id">
            <i class="bi bi-pencil-square"></i>
        </a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-@Model.Id">
            <i class="bi bi-trash"></i>
        </button>

        <div class="modal fade" id="confirmDeleteModal-@Model.Id" tabindex="-1" aria-labelledby="confirmDeleteModalLabel-@Model.Id" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel-@Model.Id">Confirmar Exclusão</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja excluir?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <form asp-action="Delete" asp-controller="Music" asp-route-id="@Model.Id" method="post">
                            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>