@{
    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

@model InputCreateMusic
@{
    ViewData["Title"] = "Cadastro de Música";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a class="btn btn-info d-flex align-items-center btn-icon" asp-action="Index" asp-controller="Music">
            <i class="fas fa-arrow-left"></i>
        </a>
        <h4 class="mb-2 text-center flex-grow-1">Cadastro de Música</h4>
        <button type="submit" form="musicForm" class="btn btn-primary d-flex align-items-center btn-icon">
            <i class="fas fa-save"></i>
        </button>
    </div>

    <form id="musicForm" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Nome</label>
            <input asp-for="Name" class="form-control" maxlength="200" placeholder="Nome da Música" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <br/>

        <div class="form-group">
            <label asp-for="YoutubeLink">Link do Youtube</label>
            <input asp-for="YoutubeLink" class="form-control" maxlength="500" placeholder="Link do Youtube" required />
            <span asp-validation-for="YoutubeLink" class="text-danger"></span>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ReleaseYear">Ano de Lançamento</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input asp-for="ReleaseYear" id="releaseYear" class="form-control" type="number" max="@DateTime.Now.Year" placeholder="Ano de Lançamento" required />
                    </div>
                    <span asp-validation-for="ReleaseYear" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ArtistId">Artista</label>
                    <select asp-for="ArtistId" class="form-control" required>
                        <option value="">Selecione um Artista</option>
                        @foreach (var artist in ViewBag.Artists)
                        {
                            <option value="@artist.Id">@artist.Name</option>
                        }
                    </select>
                    <span asp-validation-for="ArtistId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="MusicGenreId">Gênero Musical</label>
                    <select asp-for="MusicGenreId" class="form-control" required>
                        <option value="">Selecione um Gênero</option>
                        @foreach (var genre in ViewBag.Genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MusicGenreId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        document.getElementById('releaseYear').addEventListener('input', function (e) {
            if (this.value.length > 4) this.value = this.value.slice(0, 4);
        });
    </script>
}