@model InputUpdateMusic
@{
    ViewData["Title"] = "Atualização de Música";
}

<div class="container mt-5">
    <h4 class="mb-4 text-center">Atualização de Música</h4>

    <form asp-action="Update" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Nome</label>
            <input asp-for="Name" class="form-control" placeholder="Nome da Música" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <br />

        <div class="form-group">
            <label asp-for="YoutubeLink">Link do Youtube</label>
            <input asp-for="YoutubeLink" class="form-control" placeholder="Link do Youtube" required />
            <span asp-validation-for="YoutubeLink" class="text-danger"></span>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ReleaseYear">Ano de Lançamento</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input asp-for="ReleaseYear" id="releaseYear" class="form-control" type="number" min="1900" max="@DateTime.Now.Year" placeholder="Ano de Lançamento" required />
                    </div>
                    <span asp-validation-for="ReleaseYear" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ArtistId">Artista</label>
                    <select asp-for="ArtistId" class="form-control" required>
                        <option value="">Selecione um Artista</option>
                        @foreach (var artist in ViewBag.Artists)
                        {
                            <option value="@artist.Id">@artist.Name</option>
                        }
                    </select>
                    <span asp-validation-for="ArtistId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="MusicGenreId">Gênero Musical</label>
                    <select asp-for="MusicGenreId" class="form-control" required>
                        <option value="">Selecione um Gênero</option>
                        @foreach (var genre in ViewBag.Genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MusicGenreId" class="text-danger"></span>
                </div>
            </div>
        </div>

        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }

        <div class="d-flex justify-content-between align-items-center mt-4">
            <a class="btn btn-info" href="@Url.Action("Index", "Music")">Voltar</a>
            <button type="submit" class="btn btn-primary ml-auto">Salvar</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        document.getElementById('releaseYear').addEventListener('input', function (e) {
            if (this.value.length > 4) this.value = this.value.slice(0, 4);
        });
    </script>
}