@model ScreenMusic.Arguments.OutputArtist

<div class="card">
    <img class="card-img-top" src="@(Model.ProfilePhoto!.Contains("Photo") ? $"https://localhost:7089/{Model.ProfilePhoto}" : "images/cardArtista.png")" alt="@Model.Name">
    <div class="card-header">
        <h6 class="card-title">@Model.Name</h6>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Biography</p>
    </div>
    <div class="card-footer">
        <a class="btn btn-warning" href="@Url.Action("Update", "Artist", new { id = Model.Id })">Detalhes</a>
    </div>
</div>