@model ScreenMusic.Arguments.OutputArtist
@{
    ViewBag.Title = "Detalhes do Artista";
}

<h2>Detalhes do Artista</h2>

<div class="card mb-4 shadow-sm">
    <img src="@(!string.IsNullOrEmpty(Model.ProfilePhoto) ? Model.ProfilePhoto : "images/cardArtista.png")" class="card-img-top" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Biography</p>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
</div>