@model InputUpdateArtist
@{
    ViewData["Title"] = "Edição de Artista";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a class="btn btn-info d-flex align-items-center btn-icon" asp-action="Index" asp-controller="Artist">
            <i class="fas fa-arrow-left"></i>
        </a>
        <h4 class="mb-2 text-center flex-grow-1">Edição de Artista - @ViewBag.Name</h4>
        <button type="submit" form="artistForm" class="btn btn-primary d-flex align-items-center btn-icon">
            <i class="fas fa-save"></i>
        </button>
    </div>

    <form id="artistForm" asp-action="Update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="@ViewBag.Id" />

        <div class="form-group mb-2">
            <label asp-for="Biography">Biografia</label>
            <textarea asp-for="Biography" class="form-control" placeholder="Biografia do artista" rows="4" maxlength="500" required>@Model.Biography</textarea>
            <span asp-validation-for="Biography" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <label for="profilePhotoFile">Foto de Perfil Atual</label>
            <div>
                <img id="profilePhotoPreview" src="@(Model.ProfilePhoto != null ? $"https://localhost:7089{Model.ProfilePhoto}" : "images/cardArtista.png")" class="img-thumbnail" style="max-width: 200px;" />
            </div>
        </div>

        <div class="form-group">
            <label for="newProfilePhoto">Nova Foto de Perfil (opcional)</label>
            <input type="file" class="form-control-file" id="newProfilePhoto" name="newProfilePhoto" accept=".jpeg,.jpg,.png" onchange="previewImage(event)" />
        </div>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
    </form>
</div>

<script type="text/javascript">
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('profilePhotoPreview');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>